name: Sync gdy666/lucky Image
on:
  push:
  schedule:
    - cron: '0 16 * * *'
jobs:
  sync-kucky-image:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@main

      - name: rm all images
        run: |
          docker images
          docker rmi -f $(docker images -q)

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Inspect source image architectures
        id: source-inspect
        run: |
          docker buildx imagetools inspect gdy666/lucky:v2 > source_inspect.txt
          cat source_inspect.txt
      - name: Inspect target image architectures
        id: target-inspect
        run: |
          docker buildx imagetools inspect registry.cn-hangzhou.aliyuncs.com/gdy66/lucky:v2 > target_inspect.txt || echo "Target image not found"
          cat target_inspect.txt
      - name: Compare source and target image architectures
        id: compare-images
        run: |
          if diff source_inspect.txt target_inspect.txt > /dev/null; then
            echo "Architectures match"
            echo "match=true" >> $GITHUB_ENV
          else
            echo "Architectures do not match"
            echo "match=false" >> $GITHUB_ENV
          fi

      - uses: aliyun/acr-login@v1
        with:
          login-server: registry.cn-hangzhou.aliyuncs.com
          username: ${{ secrets.ALIYUN_USER }}
          password: ${{ secrets.ALIYUN_PASS }}
          
      - name: Pull and push multi-architecture image if needed
        if: env.match == 'false'
        run: |
          echo "Pulling and pushing multi-architecture image"
          docker buildx imagetools create \
            --tag registry.cn-hangzhou.aliyuncs.com/gdy66/lucky:v2 \
            gdy666/lucky:v2
